.app-brand {
  font-weight: bolder;
}

.typ {
  color: #3dc7d9;
}

.fast {
  color: #bfb8b6;
}

.spacer {
  flex: 1 1 auto;
}

.nav-link {
  margin-right: 25px;
  font-size: 1rem;
}

.active {
  color: #3dc7d9;
}
