
name: CI Test

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Set Up NodeJS
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
        
    - name: Install Dependencies
      run: npm ci
      
    - name: Run Tests
      run: npm test
